{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <title>
      {% block title %}
        Todo List
      {% endblock %}
    </title>
  </head>

  <body>
    {% block navbar %}
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand text-uppercase" href="#">Todo List</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if user.is_authenticated %}
                    {{ user.email }}
                  {% else %}
                    Account
                  {% endif %}
                </a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                    <li>
                      <a class="dropdown-item" href="{% url 'auth:logout' %}">Logout</a>
                    </li>
                  {% else %}
                    <li>
                      <a class="dropdown-item" href="{% url "auth:login" %}">Login</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url "auth:signup" %}">Sign Up</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% endblock %}
    {% block body %}

    {% endblock %}
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/htmx.js' %}"></script>
  </body>
</html>
