{% if user_todos %}
  <table class="table w-100">
    <thead>
      <tr>
        <th scope="col">Done?</th>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Due</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for todo in user_todos %}
        <tr>
          <td>
            <input class="form-check-input" type="checkbox" value="is_done">
          </td>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ todo.title }}</td>
          <td>
            {% if todo.due %}
              {{ todo.due }}
            {% else %}
              No due
            {% endif %}
          </td>
          <td>
            <span class="badge rounded-pill text-bg-danger" style="cursor: pointer;" hx-delete="{% url 'todo:delete' todo.pk %}" hx-target="#todoList">X</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>You got no todos.</p>
{% endif %}
