<table class="table w-100">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">State</th>
        <th scope="col">Due</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in user_todos %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ todo.title }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ todo.get_state_display }}</button>
              <ul class="dropdown-menu">
                {% for available_state in todo.State.choices %}
                  <li>
                    <a class="dropdown-item" href="#">{{ available_state.1 }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </td>
          <td>
            {% if todo.due %}
              {{ todo.due }}
            {% else %}
              No due
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
