{% extends 'base.html' %}
{% block title %}
  Todos
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row my-5">
      <div class="col-12 mb-5">
        <form action="post"  hx-post="{% url 'todo:add' %}" hx-target="#todoList">
          {% csrf_token %}
          <div class="row g-2">
            <div class="col-lg-8">
              <div class="form-floating">
                <input name="todo_title" type="text" class="form-control" id="todoTitle" placeholder="Bake cake for Jane's birthday" value="" />
                <label for="todoTitle">Add Todo</label>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-floating">
                <input name="todo_due" type="date" class="form-control" id="todoDue" />
                <label for="todoDue">Due</label>
              </div>
            </div>
            <div class="col-lg-2">
              <input type="submit" class="btn btn-success w-100 h-100" value="Add" />
            </div>
          </div>
        </form>
      </div>
      <hr>
      <div class="col-12 mb-3">
        <form method="post">
          <div class="input-group mb-1">
            <input hx-trigger="keyup delay:1s" hx-post="{% url "todo:search"  %}" hx-target="#todoList"  name="search_value" type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="btnSearch">
          </div>
        </form>
      </div>
      <hr>
      <div class="col-12" id="todoList">
        {% include "todos/partial/list.html" with user_todos=user_todos %}
      </div>
    </div>
  </div>

  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
{% endblock %}
